    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    body {
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/pizza-gead1b8489_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 80%;
    }
    /*  -------------   FORM --------------- */
    
    #container {
        width: 100%;
    }
    
    #formulario {
        width: 70%;
        height: 70%;
        margin: 0 auto;
        margin-top: 109px;
        margin-bottom: 5vh;
    }
    
    label,
    legend {
        color: white;
        font-size: 20px;
    }
    
    legend {
        padding-top: 10px;
    }
    
    #selectSabor {
        display: grid;
        grid-template-columns: auto auto;
        border: solid black 2px;
        border-radius: 25px;
        padding: 10px;
        width: 555px;
    }
    
    #selectSaboresDaBorda,
    #selectBorda {
        border: solid black 2px;
        border-radius: 25px;
        padding: 5px;
        width: 555px;
    }
    
    #observacao {
        resize: none;
        border-radius: 10px;
        border: solid black 2px;
    }
    
    button {
        margin-top: 20px;
        width: 80px;
        height: 30px;
        background-color: white;
        border: solid black 2px;
        border-radius: 25px;
    }
    
    select {
        width: 200px;
        border: solid black 2px;
        border-radius: 25px;
    }
    
    span {
        color: white;
        font-size: 20px;
    }
    
    #contato {
        margin-top: 120px;
        color: white;
        font-size: 60px;
        margin-left: 90px;
        height: 70px;
        text-decoration: none;
        border-radius: 25px;
    }
    
    #pizzas {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }
    
    footer {
        height: 15%;
        background-color: rgba(255, 255, 255, 0.4);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    
    a {
        border: none;
        transition: none;
        color: black;
        font-size: 60px;
        text-decoration: none;
    }
    
    #convite {
        padding-top: 110px;
        margin: 5%;
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }
    
    #restaurante {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }
    
    #textPromocao {
        margin: 40px;
    }
    
    #imgPromocao {
        margin-bottom: 20px;
    }
    
    #qdHorarios {
        display: flex;
        text-align: justify;
    }
    
    #horarios {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    
    ul {
        list-style-type: none;
    }
    
    img {
        width: 400px;
        border: 2px solid black;
        border-radius: 12px;
        margin: 5px;
        height: 235px;
    }
    
    #galeria {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        margin: 10px;
        margin-top: 130px;
    }
    
    @media (max-width: 1080px) {
        #body {
            height: 100vh;
        }
        img {
            width: 540px;
            border: 2px solid black;
            border-radius: 12px;
            margin: 5px;
            height: 350px;
        }
        #pizzas,
        #restaurante,
        #promocao {
            flex-direction: column;
        }
        #convite {
            padding-top: 140px;
            margin: 0px 5%;
            color: white;
            font-size: 1.5rem;
            text-align: center;
        }
        #qdHorarios {
            display: flex;
            text-align: justify;
            flex-direction: column;
            align-items: center;
        }
        ul {
            font-size: 0.9em;
            list-style-type: none;
            width: 200px;
        }
        #container {
            height: 100%;
            width: 100vw;
        }
        #formulario {
            width: 70%;
            height: 85vh;
            margin: 0 auto;
            margin-top: 109px;
        }
        footer {
            height: 15%;
            background-color: rgba(255, 255, 255, 0.4);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }
        #galeria {
            display: grid;
            grid-template-columns: 30% 30%;
            justify-content: space-evenly;
            justify-items: center;
            align-items: center;
            margin: 10px;
            margin-top: 130px;
        }
        .imgGaleria {
            border: 2px solid black;
            border-radius: 12px;
            margin: 5px;
            height: 350px;
            width: 404px;
        }
    }