button {
    margin       : 15px;
    width        : 90px;
    height       : 27px;
    border-radius: 25px;
    border       : solid 2px black;
}

button:hover {
    border    : solid 2px rgb(248, 240, 0, 50);
    transition: 300ms;
}

#container {


    height: 100%;
    width : 100%;

}

#formulario{
    margin-top: 165px;
    margin-bottom: 0vh;
}

#inputAddress {
    border       : solid black 2px;
    border-radius: 25px;
    padding      : 5px;
    width        : 555px;
    margin: 10px 0;
}

#inputName, #inputPhone{
    border       : solid black 2px;
    border-radius: 25px;
    padding      : 5px;
    width        : 150px;
}

@media (max-height: 1920px){
    #formulario{
        margin-bottom: 54vh;
    }
}
@media (max-width: 1320px){
    body{
        height: 100%;
    }
    #formulario{
        margin-top: 160px;
    }
    form{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    fieldset{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #inputName, #inputPhone, #inputAddress{
        border       : solid black 2px;
        border-radius: 25px;
        padding      : 5px;
        width: 80%;
        margin-right: 0;
    }



    span{
        color: white;
        font-size: 28px;
    }
    #tamanho{
        
            width: 80%;
            height: 4vh;
            font-size: 1.4em;
        
    }


    button{
        width: 40%;
        height: 5vh;
        font-size: 1.8em;
    }
}